<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout.html}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <main>
    <div class="container" layout:fragment="main-content">
      <h2>Edit Product</h2>
      <form th:action="@{/admin/product/update}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}">
        <label class="label">Category:</label>
        <label>
          <select class="status" th:field="*{category}">
            <option th:each="category : ${categories}"
                    th:value="${category.name}"
                    th:text="${category.name}"
                    th:selected="${category.name == product.category}">
            </option>
          </select>
        </label>


        <label class="label">Name:</label>
        <label>
          <input class="input" th:field="*{name}" type="text" required>
        </label>

        <label class="label">Description:</label>
        <label>
          <textarea class="input" th:field="*{description}" required></textarea>
        </label>

        <label class="label">Price:</label>
        <label>
          <input class="input" th:field="*{price}" type="number" step="0.01" required>
        </label>

        <label class="label">Stock:</label>
        <label>
          <input class="input" th:field="*{inventory.stock}" type="number" required>
        </label>

        <label class="label">Thêm ảnh:</label>
        <label>
          <input type="text" id="new-image-url" placeholder="Nhập URL ảnh..." oninput="updateNewImageSrc()">
        </label>

        <input type="hidden" id="new-image-src" name="newImage">

        <div class="image-container" id="image-container">
          <div th:each="image : *{images}" class="image-item">
            <img class="thumbnail" th:src="${image.src}" alt="Image Preview">
          </div>
        </div>
        <button class="update-btn btn" type="submit">UPDATE</button>
        <a th:href="@{/admin/product/home}">
          <button class="btn remove-btn" type="button">Cancel</button>
        </a>
      </form>
    </div>
  </main>
</body>

</html>